  * { 
	<!--border: 1px solid rgba(0, 0, 0, 0.3);-->
  }

  h1 {
  line-height: 1rem;
  margin-bottom: 3rem;
  }
  
  .main-container {
	display: inline-block;
	margin: 5% 20%;
  }
  
  .practitioner {
	margin: 3rem 0rem;
	border-bottom: 2px solid rgba(144, 154, 187, 0.7);
  }
  
  .receptionist {
	margin: 3rem 0rem;
	border-bottom: 2px solid rgba(144, 154, 187, 0.7);
  }
  
  .profile img {
	float: left;
	height: 12rem;
	margin: 0rem 1rem 1rem 0rem;
   }
   
   .receptionist img{
	float: none;
	margin: 0rem 1rem 0rem 0rem;
   }
   
   .receptionist h4{
	line-height: 1.5rem;
	margin: 0 0 1rem 2.75rem;
   }
   
     .logo-container {
	width: 100%;
	margin: 2.5rem auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
  }
  
   #swift, #lunula {
	display: block;
	margin: auto;
	padding-bottom: 1.5rem;
	max-width: 200px;
	width: 80%;
   }
  
  .main-text li {
	margin: .75rem;
	list-style-position: inside;
	text-indent: 1rem;
	font-family: Roboto, Arial, sans-serif;
  }
  
  .clear {
	clear: both;
  }
  
  @media only screen and (max-width: 1452px) {
	.empty {
	  height: 8rem;
	}
	h1 {
	margin-top: 1rem;
	}
  }
  
  @media only screen and (max-width: 809px) {
	.empty {
	  height: 12rem;
	}
	h1 {
	margin-top: 2rem;
	}
	.main-container {
	  margin: 5% 5%; 
	}
  }
  
  @media only screen and (max-width: 546px) {
	.empty {
	  height: 16rem;
	}
	.navigation li {
	  font-size: 12px
	}
  }