* { 
	<!--border: 1px solid rgba(0, 0, 0, 0.3);-->
  }

  
  h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 3rem 0rem 1rem 0rem;
  }

  .main-container {
	width: 100%
  }
  
  .main-text {
	margin: 5% 15%;
  }
  
  .profile {
	float: left;
	height: 20rem;
	margin: 11rem 8rem 11rem 8rem;
	font-size: 1.125rem;
	text-align: center;
   }
  
  .main-text li {
	margin: .75rem;
	list-style-position: inside;
	text-indent: 1rem;
	font-family: Roboto, Arial, sans-serif;
  }
  
  @media only screen and (max-width: 1343px) {
  .empty {
	height: 8rem;
  }
  .main-text {
	margin: 5% 5%;
  }
  }
  
  @media only screen and (max-width: 809px) {
  .empty {
	height: 12rem;
  }
  .profile {
	display: inline-block;
	margin: auto;
	width: 100%;
  }
  }
  
  @media only screen and (max-width: 546px) {
  .empty {
	height: 16rem;
  }
  .navigation li {
	font-size: 12px
  }
  }