* { 
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, serif;
}

body {
	height: 100%;
	padding-bottom: 3rem;
}

h1 {
	font-size: 2rem;
	line-height: 2rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin-top: 2rem;
}

h3 {
	font-weight: 600;
	line-height: 2rem;
}

p {
	line-height:1.5em;
	font-family: Roboto, Arial, sans-serif;
	text-align: justify;
	font-size: 1rem;
	margin-bottom: 0.75rem;
	padding: 0.125rem
}

a:not(.inline-link) {
	color: currentColor;
	text-decoration: none;
}

/* Navigation Bar*/
.nav-container {
	height: auto;
	overflow: hidden;
	width: 100%;
	position: relative;
	min-height: 4rem;
}

.nav {
	background-color: #ecf2f9;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0px;
	z-index:99;
	border-top: 2px solid #1a66ff;
		-webkit-box-shadow: 0px 0px 20px 1px #000000;
		  -moz-box-shadow: 0px 0px 20px 1px #000000;
			box-shadow: 0px 0px 20px 1px #000000;
}

.nav li {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: SteelBlue;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 20px;
}

.nav li:hover:not(.active) {
	opacity: 0.7;
}

.burger-check {
  display: none;
}

.active {
	border-bottom: 1px solid currentColor;
	pointer-events: none;
	cursor: default;
}

.empty {
	height: 4rem;
	z-index: -100;
	display: block;
	position: relative;
	left: 0;
	top: 0;
}      

.mid {
	width:100%;
	overflow: auto;
}
	
.footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.5rem 0.5rem 0rem 0.5rem;
	background-color: #efefef;
	text-align: center;
	margin-top: 4rem;
	overflow: auto;
	height: auto;
  }

.copyright {
	max-width: 20rem;
	overflow: hidden;
	margin: 1.5rem auto;
	display: inline-block;
}

.copyright p {
	font-size: 0.8rem;
}

.opening {
	max-width: 20rem;
	overflow: auto;
	margin: 0rem auto;
	display: inline-block;
	float: right;
}
      
.opening p {
	font-size: 1rem;
	line-height: 0.9rem;
	padding: 0;
	text-align: right;
	}
      
.hidden {
	visibility: hidden;
}

.no-access {
	display: none !important;
}