  * { 
	<!--border: 1px solid rgba(0, 0, 0, 0.3);-->
  }
  
  .mid {
	width:100%;
	overflow: hidden;
  }
  
  .main-container {
	display: inline-block;
	margin: 5% 20%;
  }
  
  .tab-content li {
	margin: 0.75rem;
	list-style-position: inside;
	text-indent: 1rem;
	font-family: Roboto, Arial, sans-serif;
  } 
  
/*Images in tabs*/
  .chiropody {
	display: block;
	margin: auto;
	width: 90%;
	max-width: 700px;
  }
  
  .pod {
	display: block;
	margin: 1rem auto;
	width: 60%;
	max-width: 350px;
  }
  
  .logo {
	display: block;
	margin: 2rem auto;
	width: 40%;
	max-width: 250px;
  }
  
  .small {
	max-width: 175px;
	image-orientation: unset;
  }
  
  .full {
	float: left;
	width: 100%;
	padding: 0 1em;
  }
  
  
  /* Accordeon styles */
  .tab {
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	color: black;
	overflow: hidden;
  }
  
  input {
	position: absolute;
	opacity: 0;
	z-index: -1;
  }
  
  .full label {
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	background: #ecf2f9;
	border-top: 0.2rem solid #6398ed;
	font-weight: bold;
	line-height: 3;
	cursor: pointer;
	font-size: 1.25rem;
  }
  
  .tab-content {
	max-height: 0;
	overflow: hidden;
	background: #fff;
	-webkit-transition: max-height 1.8s;
	-o-transition: max-height 1.8s;
	transition: max-height 1.8s;
  }

  .tab-content p {
	margin: 1rem;
  }
  
  .tab-content h3 {
	margin: 1rem;
	padding-top: 1rem;
  }
  
  /* :checked */
  .full input:checked ~ .tab-content {
	max-height: 150rem;
  }
  
  /* Icon */
  .full label::after {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 3em;
	height: 3em;
	text-align: center;
	-webkit-transition: all .35s;
	-o-transition: all .35s;
	transition: all .35s;
  }
  
  .full input[type=checkbox] + label::after {
	content: "+";
  }
  
  .full input[type=radio] + label::after {
	content: "\25BC";
  }
  
  .full input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
  }
  
  .full input[type=radio]:checked + label::after {
	transform: rotateX(180deg);
  }
  
  @media only screen and (max-width: 1343px) {
  .empty {
	height: 8rem;
  }
  .main-container {
	width: 80%;
	margin: 5% 10%;
  }
  }
  
  @media only screen and (max-width: 809px) {
  .empty {
	height: 12rem;
  }
  .main-container {
	width: 98%;
	margin: 1%;
  }
  }
  
  @media only screen and (max-width: 546px) {
  .empty {
	height: 16rem;
  }
  .navigation li {
	font-size: 12px
  }
  }